<div fxLayout="row wrap" *ngIf="isTable">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap">
          <div fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="60">
            <mat-card-title>
              Cat Serial
            </mat-card-title>
          </div>
          <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="30">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
          </div>
          <div fxFlex.gt-sm="10" fxFlex.gt-xs="10" fxFlex="10">
            <button mat-raised-button color="primary" class="pull-right"
              (click)="isAdd = true;isTable = false">Add</button>
          </div>
        </div>
        <div class="responsive-table">
          <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="Id">
              <th mat-header-cell *matHeaderCellDef class="font"> ID</th>
              <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef=" SerialNumber">
              <th mat-header-cell *matHeaderCellDef class="font"> Serial Number </th>
              <td mat-cell *matCellDef="let element"> {{element. SerialNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="CATModelName">
              <th mat-header-cell *matHeaderCellDef class="font">CAT Model Name </th>
              <td mat-cell *matCellDef="let element"> {{element.CATModelName}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="IsActive">
              <th mat-header-cell *matHeaderCellDef class="font"> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.IsActive?'Active':'Inactive'}} </td>
            </ng-container>
            <ng-container matColumnDef="CustomerInformation">
              <th mat-header-cell *matHeaderCellDef class="font"> Customer Information </th>
              <td mat-cell *matCellDef="let element"> {{element.CustomerInformation}} </td>
            </ng-container>
            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef class="font">Action</th>
              <td mat-cell *matCellDef="let element"><span><i class="material-icons" (click)="showUpdateForm(element)"
                    style="color:green;cursor: pointer;"> edit</i><i class="material-icons"
                    (click)="deleteCATserial(element)" style="color:red;cursor: pointer;"> delete </i></span></td>
            </ng-container>



            <!-- Symbol Column -->


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
        </div>
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
      </mat-card-content>
    </mat-card>
  </div>
</div>



<div fxLayout="row wrap" *ngIf="isAdd">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>
          Add CAT Serial
        </mat-card-title>
        <form [formGroup]="form" (ngSubmit)="AddCATSerial()">
          <div fxLayout="row wrap">
            <div fxFlex.gt-md="50" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
              <div fxLayout="row wrap">
                <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-form-field>
                    <input matInput placeholder="Serial Number" [(ngModel)]="catserial.SerialNumber"
                      [formControl]="form.controls['SerialNumber']" name="SerialNumber">
                  </mat-form-field>
                  <small
                  *ngIf="form.controls['SerialNumber'].hasError('required') && form.controls['SerialNumber'].touched"
                  class="text-danger support-text">SerialNumber is required.</small>
                  <mat-form-field>
                    <input matInput placeholder="Customer Information" [(ngModel)]="catserial.CustomerInformation"
                      [formControl]="form.controls['CustomerInformation']" name="CustomerInformation">
                  </mat-form-field>
                  <small
                  *ngIf="form.controls['CustomerInformation'].hasError('required') && form.controls['CustomerInformation'].touched"
                  class="text-danger support-text">CustomerInformation is required.</small>
                </div>
                <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-form-field>
                    <mat-label>Cat Model</mat-label>
                    <mat-select [(ngModel)]="catserial.CATModelName"  [formControl]="form.controls['CATModelName']" name="CATModelName">
                      <mat-option *ngFor="let cm of calModelList" [value]="cm.modelName">
                        {{cm.modelName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <small
                  *ngIf="form.controls['CATModelName'].hasError('required') && form.controls['CATModelName'].touched"
                  class="text-danger support-text">CATModelName is required.</small>
                </div>

                <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                  <button mat-raised-button color="primary" type="submit" class="pull-right" 
                    style="margin-left:10px">Save</button>
                  <button mat-raised-button color="warn" class="pull-right"
                    (click)="isAdd = false;isTable = true">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap" *ngIf="isEdit">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Edit CATSerial</mat-card-title>
        <form (ngSubmit)="updateCATserial()">
          <div fxLayout="row wrap">
            <div fxFlex.gt-md="50" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
              <div fxLayout="row wrap">
                <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-form-field>
                    <input matInput placeholder="Plant Name" [(ngModel)]="editcatserial.SerialNumber" name="plantName">
                  </mat-form-field>
                </div>
                <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                  <button mat-raised-button color="primary" type="submit" class="pull-right"
                    style="margin-left:10px">Update</button>
                  <button mat-raised-button color="warn" class="pull-right"
                    (click)="isTable = true; isEdit = false">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>