table {
    width: 100%;
}

td, 
th {
    width: 11%;
}
#deleteButton{
    background-color: #d01a1a;
  }
  .mat-header-cell {
    background-color: lightgray;
    font-weight: bold;
    font-size: 15px;
    width:100%
  }
  #deleteButton:disabled{
    background-color: #808080;
  }
  
  .mat-cell {
    padding: 2px;
    text-align: left;
    border-right: 1px solid lightgray;
}