
  <mat-card *ngIf="isTable">
      <mat-card-content>
        <mat-card-title>Quality Instructions</mat-card-title>
        
        
            <div fxLayout="row wrap">
              
             
              <div fxFlex.gt-md="15" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field class="p-r-10">
                  <mat-label>Section</mat-label>
                  <mat-select [(ngModel)]="qualityObj.SectionName" name="Section" (ngModelChange)=" getAreaList();getModelList();getVersionList()"
                    >
                    <mat-option *ngFor="let section of SectionLists" [value]="section">
                      {{section}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex.gt-md="15" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field class="p-r-10">
                  <mat-label>Area</mat-label>
                  <mat-select [(ngModel)]="qualityObj.AreaName" name="AreaName" #select9 (ngModelChange)="getVersionList();getComponentList()"
                    multiple>
                    <div class="select-all" style="margin-left: 6%;">
                      <mat-checkbox [(ngModel)]="allSelected"
                                      [ngModelOptions]="{standalone: true}"
                                      (change)="toggleAllSelection(select9)">Select All</mat-checkbox>
                  </div>
                    <mat-option *ngFor="let area of AreaLists" [value]="area">
                      {{area}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
    
              </div>

              <div fxFlex.gt-md="15" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field class="p-r-10">
                  <mat-label>Model</mat-label>
                  <mat-select [(ngModel)]="qualityObj.ModelName" name="ModelName" (ngModelChange)="getComponentList();getVersionList();"
                    >
                    <mat-option *ngFor="let model of ModelLists" [value]="model">
                      {{model}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

             
    
              <div fxFlex.gt-md="15" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field class="p-r-10">
                  <mat-label>Component</mat-label>
                  <mat-select [(ngModel)]="qualityObj.ComponentName" name="ComponentName"
                    (ngModelChange)="getVersionList();" >
                    <mat-option *ngFor="let component of ComponentLists" [value]="component">
                      {{component}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
    
              </div>          
    
              <div fxFlex.gt-md="15" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field class="p-r-10">
                  <mat-label>Version</mat-label>
                  <mat-select [(ngModel)]="qualityObj.Version" name="Version" >
                    <mat-option *ngFor="let version of versionLists" [value]="version">
                      {{version}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxFlex.gt-md="1.5" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <button matTooltip="Default" mat-icon-button style="background-color:lightblue;"
                class="pull-right" (click)="setDefault()">
                    <mat-icon>refresh</mat-icon>
                  </button>
              </div>

              <div fxFlex.gt-md="11.5" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <button mat-raised-button color="primary" class="pull-right" (click)="isAdd = true;isTable = false">Add
                  Quality Instruction</button>
              </div>
              <div fxFlex.gt-md="12" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                  <button mat-raised-button id="button" color="primary" class="pull-right" (click)="getQualityInstruction()">
                    <i class="fa fa-spinner fa-spin" *ngIf="GetQuality"></i>
                    Get Quality Instruction</button>
                    <!-- <div *ngIf="GetQuality" style="margin-left: 50%;margin-top: 2%;size: 5%;">
                      <mat-spinner></mat-spinner>
                    </div> -->
                </div>
            </div>
          
        
        <div class="mat-elevation-z8" style="overflow: auto;">
          <mat-paginator [length]="qualityInstructionList.length"[pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>

          <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

            <ng-container matColumnDef="Id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:5%"> Id</th>
              <td mat-cell *matCellDef="let element" style="width:5%"><a (click)="showUpdateForm(element)"
                style="color:blue;cursor: pointer; text-decoration: underline">  {{element.Id}} </a></td>
            </ng-container>
            <ng-container matColumnDef="Figure" style="width:30%">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:30%">Figure</th>
              <td mat-cell *matCellDef="let element" >
                <a (click)="openImageModal(element)" 
                style="text-decoration: underline;color: blue; cursor: pointer;">
                 {{element.FigureVisual}}</a> </td>
            </ng-container>
           

            <ng-container matColumnDef="CheckPoints" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:50%"> Weld ID </th>
              <td mat-cell *matCellDef="let element" style="width:50%"> <ul *ngFor = "let item of element.CheckPoints ">
                item {{item.ItemNo}} - {{item.Zone}}-{{item.Location}}-{{item.SequenceNumber}}
                <!-- <li *ngFor = "let i of item.Procedures">
                    {{i.SequenceNumber}}
                </li>
                <li>

                </li> -->
              </ul> </td>
            </ng-container>
            <ng-container matColumnDef="Section">
              <th mat-header-cell *matHeaderCellDef mat-sort-header >Section</th>
              <td mat-cell *matCellDef="let element" >{{qualityObj.SectionName}} </td>
            </ng-container>
            <ng-container matColumnDef="Area">
              <th mat-header-cell *matHeaderCellDef mat-sort-header >Area</th>
              <td mat-cell *matCellDef="let element" >
                <div *ngFor="let item of areaList">

                  <div *ngIf="item.Id == element.AreaId">
                    {{item.AreaName}}
                  </div>
                </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="Model">
              <th mat-header-cell *matHeaderCellDef mat-sort-header >Model</th>
              <td mat-cell *matCellDef="let element" >{{qualityObj.ModelName}} </td>
            </ng-container>
            <ng-container matColumnDef="Component">
              <th mat-header-cell *matHeaderCellDef mat-sort-header >Component</th>
              <td mat-cell *matCellDef="let element" >{{qualityObj.ComponentName}} </td>
            </ng-container>
            <ng-container matColumnDef="Version">
              <th mat-header-cell *matHeaderCellDef mat-sort-header >Version</th>
              <td mat-cell *matCellDef="let element" >{{element.Version}} </td>
            </ng-container>

            <!-- <ng-container matColumnDef="IsActive">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>IsActive </th>
              <td mat-cell *matCellDef="let element"> {{element.IsActive}} </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-card-content>
  </mat-card>
  <div fxLayout="row wrap" *ngIf="isAdd">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <mat-card-title>Add Quality Instruction</mat-card-title>
          
          <form #addForm="ngForm" (ngSubmit)="addQuality(addForm)">
            <div fxLayout="row wrap">
              <div fxFlex.gt-md="50" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
                <div fxLayout="row wrap">
                  
  
                  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-label>Image Upload</mat-label><br>
                    <input type="file" (change)="onFileChanged($event)" accept=".jpg" multiple required>
                  </div>
  
                  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <br>
                    <mat-label>Excel File Upload</mat-label><br>
                    <input type="file" (change)="onFileChangedCsv($event)" accept=".xlsx" multiple required>
                  </div>
                 
  
                  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <button mat-raised-button type="submit" class="pull-right" id="save" style="margin-left:10px"
                      color="primary">Save</button>
                    <button mat-raised-button color="warn" class="pull-right"
                      (click)="isAdd = !isAdd;isTable = true;getQualityInstruction();addForm.resetForm();">Cancel</button>
                      <!-- <div *ngIf="isImageUpload" style="margin-left: 50%;margin-top: 2%;">
                        <mat-spinner></mat-spinner>
                      </div> -->
                  </div>

                  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
  
                    <div fxFlex.gt-md="50" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
                      <a href="{{LinkS}}" title="Sample Template">
                        <span>
                          <pre>Add Quality Instruction - Sample Template</pre></span></a>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </form>
          <mat-label *ngIf="isSpinner">{{progressMessage}}</mat-label>
          <mat-progress-bar mode="determinate" *ngIf="isSpinner" [value] ="progressvalue" ></mat-progress-bar>
        </mat-card-content>
        
      </mat-card>
    </div>
  </div>

  <div fxLayout="row wrap" *ngIf="isEdit">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <mat-card-title>Edit Quality Instruction</mat-card-title>
          
          <form #editForm="ngForm" (ngSubmit)="UpdateQuality(editForm)">
            <div fxLayout="row wrap">
              <div fxFlex.gt-md="50" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
                <div fxLayout="row wrap">
                  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field>
                      <mat-label>Section</mat-label>
                      <mat-select [(ngModel)]="procedure.SectionName" (ngModelChange)="getModels()" name="SectionName"
                        required>
                        <mat-option *ngFor="let section of SectionLists" [value]="section">
                          {{section}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
  
                  </div>
  
                  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field>
                      <mat-label>Model</mat-label>
                      <mat-select [(ngModel)]="procedure.ModelName" name="ModelName" (ngModelChange)="getComponents()"
                        required>
                        <mat-option *ngFor="let model of modelList" [value]="model">
                          {{model}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
  
                  </div>
  
                  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field>
                      <mat-label>Area</mat-label>
                      <mat-select [(ngModel)]="procedure.AreaName" #select8 name="AreaName" required
                        (ngModelChange)="getComponents()" multiple>
                        <div class="select-all"  style="margin-left: 6%;">
                          <mat-checkbox [(ngModel)]="allSelected"
                                          [ngModelOptions]="{standalone: true}"
                                          (change)="toggleAllSelection(select8)">Select All</mat-checkbox>
                      </div>
                        <mat-option *ngFor="let area of areaList" [value]="area" required>
                          {{area}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
  
                  </div>
  
                  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field>
                      <mat-label>Component</mat-label>
                      <mat-select [(ngModel)]="procedure.ComponentName" name="ComponentName" required>
                        <mat-option *ngFor="let component of componentList" [value]="component" required>
                          {{component}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
  
                  </div>
                  <div fxFlex.gt-md="50" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
                    <mat-form-field>
                      <input matInput placeholder="Figure Visual" [(ngModel)]="FigureVisual"
                        name="FigureVisual">
                    </mat-form-field>
                  </div>
  
                  <div fxFlex.gt-md="50" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
                      <input type="file" name="imageFile"  (change)="onImageChange($event)" accept=".jpg" multiple>
                  </div>

                  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <button mat-raised-button type="submit" class="pull-right" id="save" style="margin-left:10px"
                      color="primary">Update</button>
                    <button mat-raised-button color="warn" class="pull-right"
                      (click)="isEdit = !isEdit;isTable = true;getQualityInstruction();editForm.resetForm();">Cancel</button>
                      
                  </div>

                  
                </div>
              </div>
            </div>
          </form>
        </mat-card-content>
        
      </mat-card>
    </div>
  </div>

  