table {
  width: 100%
}

#deleteButton{
  background-color: #d01a1a;
}
.mat-header-cell {
  background-color: darkgrey;
  font-weight: bold;
}

#deleteButton:disabled{
  background-color: #808080;
}
.mat-cell {
  padding: 2px;
  text-align: left;
  border-right: 1px solid lightgray;
}

.mat-header-cell {
  background-color: lightgray;
  font-weight: bold;
  font-size: 15px;
  width:100%
}

.th{
  width:auto
}
.td{
  width: auto;
}