<div flxLayout= "row wrap">
  <div fxFlex.gt-md=100 fxFlex.gt-sm=100 fxFlex.gt-xs=100 fxFlex=100>

    <mat-card *ngIf="isAdd" style="padding: 0px;margin: 5px;">
      <mat-card-content style="padding: 5px; margin:10px;">
        <mat-card-title> Check Lists</mat-card-title>
        <form #addForm="ngForm" (ngSubmit)="addCheckList(addForm);addForm.resetForm();">

          <mat-form-field class="example-full-width">
            <mat-label>CheckPoints Name</mat-label>
            <input  matInput  [(ngModel)]="checklist.CheckPoints" name="CheckPoints" required>
            <mat-error>Check Point is required </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Process </mat-label>
            <mat-select [(ngModel)]="checklist.ProcessId" name="ProcessId" required>
              <mat-option *ngFor="let component of processList" [value]="component.Id" required>
                {{component.ProcessName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <button mat-raised-button color="primary" type="submit" class="pull-right"
            style="margin-left:10px" [disabled]="!addForm.valid">Save</button>
          <button mat-raised-button color="warn" class="pull-right"
            (click)="isAdd = false;isTable = true;addForm.resetForm();">Cancel</button>

        </form>
      </mat-card-content>
    </mat-card>


    <mat-card *ngIf="isTable">
        <mat-card-content>
          <mat-card-title>Process Checklist Management</mat-card-title>
          <button mat-raised-button color="primary" style="margin: 10px; "class="pull-right" (click)="isAdd=true;isTable=false">Add CheckList</button>
         
            <button mat-raised-button color="warn" style="margin: 10px;" class="pull-right" (click)="deleteCheckList()"
              [disabled]="!selection?.selected.length" id="deleteButton">Delete Selected CheckList</button>
          
          <div class="mat-elevation-z8">
            <mat-paginator [length]="checkList.length"[pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
  
            <table mat-table [dataSource]="dataSource" matSort >

              <ng-container matColumnDef="Select">
                <th mat-header-cell *matHeaderCellDef style="width:5%">
                  <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()" color="warn"
                    title="Select All">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" style="width:5%">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)" color="warn">
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="CheckPoints">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:30%"> CheckPoints</th>
                <td mat-cell *matCellDef="let element" style="width:30%" ><a (click)="showUpdateForm(element)" style="text-decoration: underline;color: blue; cursor: pointer;"> {{element.CheckPoints}}</a> </td>
              </ng-container>

              <ng-container matColumnDef="ProcessName" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:20%"> Process Name</th>
                <td mat-cell *matCellDef="let element" style="width:20%">{{element.Process.ProcessName}} </td>
              </ng-container>
  
  
              <ng-container matColumnDef="CreatedTimeStamp" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:20%"> CreatedTimeStamp </th>
                <td mat-cell *matCellDef="let element" style="width:20%"> {{element.CreatedTimeStamp}} </td>
              </ng-container>

              
              <ng-container matColumnDef="IsActive">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:20%">IsActive </th>
                <td mat-cell *matCellDef="let element" style="width:20%"> {{element.IsActive}} </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="isEdit">
      <mat-card-content style="padding: 0px; margin:5px;">
        <mat-card-title> Edit Check List</mat-card-title>
        <form #editForm="ngForm" (ngSubmit)="editCheckLists(editForm)">

          <mat-form-field class="example-full-width">
            <mat-label>Check Points</mat-label>
            <input  matInput  [(ngModel)]="checklist.CheckPoints" name="CheckPoints" required>
            <mat-error>CheckPoints name</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Process </mat-label>
            <mat-select [(ngModel)]="checklist.ProcessId" name="ProcessId" required>
              <mat-option *ngFor="let component of processList" [value]="component.Id" required>
                {{component.ProcessName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <button mat-raised-button color="primary" type="submit" class="pull-right"
            style="margin-left:10px" [disabled]="!editForm.valid" >Save</button>
          <button mat-raised-button color="warn" class="pull-right"
            (click)="isEdit = false;isTable = true">Cancel</button>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>