table {
    width: 100%;
  }
  #exportButton{
    background-color:green;
    color: white;
  }

  .mat-cell {
    text-align: left;
    border-right: 1px solid lightgray;
}

.mat-header-cell {
  background-color: lightgray;
  font-weight: bold;
  font-size: 15px;
  width:100%
}
.select-all{
  margin: 5px 17px;
}