<mat-card *ngIf="isTable">
    <mat-card-content>
      <div fxLayout="row wrap">
        <div fxFlex.gt-md=50 fxFLex.gt-sm=50 fxFlex.gt-xs=50 fxFlex=50>
          <mat-card-title>Stations</mat-card-title>
        </div>
        <div fxFlex.gt-md=20 fxFLex.gt-sm=40 fxFlex.gt-xs=40 fxFlex=40>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
          </mat-form-field>
        </div>
        <div fxFlex.gt-md=10 fxFlex.gt-sm="10" fxFlex.gt-xs="10" fxFlex="10">
          <button mat-raised-button color="primary" class="pull-right" (click)="isAdd = true;isTable = false;">Add
            Station</button>
        </div>
  
        <div fxFlex.gt-md=20 fxFlex.gt-sm="15" fxFlex.gt-xs="10" fxFlex="10">
          <button mat-raised-button color="warn" class="pull-right" (click)="DeleteStation()"
            [disabled]="!selection?.selected.length" id="deleteButton">Delete Selected Station</button>
        </div>
      </div>
  
      <div class="mat-elevation-z8" style="overflow: auto;">
        <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
        <table mat-table [dataSource]="dataSource" matSort>
  
          <ng-container matColumnDef="Select">
            <th  mat-header-cell *matHeaderCellDef style="width:5%">
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()" color="warn"
                title="Select All">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row" style="width:5%">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)" color="warn">
              </mat-checkbox>
            </td>
          </ng-container>
  
  
          <ng-container matColumnDef="Id">
            <th  mat-header-cell *matHeaderCellDef mat-sort-header style="width:15%">Id </th>
            <td mat-cell *matCellDef="let element" style="width:15%"> <a (click)="showUpdateForm(element)"
                style="color:blue;cursor: pointer; text-decoration: underline">{{element.Id}}</a></td>
          </ng-container>
          <ng-container matColumnDef="AreaName">
            <th  mat-header-cell *matHeaderCellDef mat-sort-header style="width:35%">AreaName </th>
            <td mat-cell *matCellDef="let element" style="width:35%">{{element.AreaName}}</td>
          </ng-container>
          <ng-container matColumnDef="StationName">
            <th  mat-header-cell *matHeaderCellDef mat-sort-header style="width:2=35%">StationName </th>
            <td mat-cell *matCellDef="let element" style="width:35%"> {{element.StationName}}</td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
  
  <div fxLayout="row wrap" *ngIf="isAdd">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <mat-card-title>Add Station</mat-card-title>
          <form #addForm="ngForm" (ngSubmit)="addStation(addForm)">
            <div fxLayout="row wrap">
              <div fxFlex.gt-md="50" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
                <div fxLayout="row wrap">
                  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field class="p-r-10">
                        <mat-label>Area</mat-label>
                        <mat-select [(ngModel)]="station.AreaName" name="AreaName" >
                          <mat-option *ngFor="let area of areas" [value]="area.AreaName">
                            {{area.AreaName}}
                          </mat-option>
                        </mat-select>
                        <mat-error>AreaName required</mat-error>
                      </mat-form-field>
                    
                    <mat-form-field>
                        <input matInput placeholder="station Name" [(ngModel)]="station.StationName" name="StationName" required >
                        <mat-error>StationName required</mat-error>
                      </mat-form-field>
                  </div>
                  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <button mat-raised-button color="primary" type="submit" class="pull-right"
                      style="margin-left:10px" [disabled]="!addForm.valid">Save</button>
                    <button mat-raised-button color="warn" class="pull-right"
                      (click)="isAdd = false;isTable = true;getStation();addForm.resetForm();">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  <div fxLayout="row wrap" *ngIf="isEdit">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <mat-card-title>Edit Station</mat-card-title>
          <form #Editform="ngForm" (ngSubmit)="UpdateStation(Editform)" >
            <div fxLayout="row wrap">
              <div fxFlex.gt-md="50" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
                <div fxLayout="row wrap">
                  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field class="p-r-10">
                        <mat-label>Area</mat-label>
                        <mat-select [(ngModel)]="station.AreaName" name="AreaName" >
                          <mat-option *ngFor="let area of areas" [value]="area.AreaName">
                            {{area.AreaName}}
                          </mat-option>
                        </mat-select>
                       
                      </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="station Name" [(ngModel)]="station.StationName" name="StationName">
                      
                      </mat-form-field>
                  </div>
                  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <button mat-raised-button color="primary" type="submit" class="pull-right"
                      style="margin-left:10px" [disabled]="!Editform.valid">Update</button>
                    <button mat-raised-button color="warn" class="pull-right"
                      (click)="isEdit = false;isTable = true;getStation();Editform.resetForm();">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>