<div fxLayout="row wrap" *ngIf="isTable">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap">
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="15" fxFlex="15">
            <mat-card-title>
              Breaks
            </mat-card-title>
          </div>
          <div fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="20">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
          </div>
          <div fxFlex.gt-sm="10" fxFlex.gt-xs="10" fxFlex="10">
            <button mat-raised-button color="primary" class="pull-right" (click)="isAdd = true;isTable = false">Add
              Break</button>
          </div>
          <div fxFlex.gt-sm="20" fxFlex.gt-xs="10" fxFlex="10">
            <button mat-raised-button color="warn" class="pull-right" (click)="deleteBreaks()"
              [disabled]="!selection?.selected.length" id="deleteButton">Delete Selected Breaks</button>
          </div>
        </div>
        <div class="mat-elevation-z8" style="overflow: auto;">
          <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="Select">
              <th style="width:auto" mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"
                  color="warn" title="Select All">
                </mat-checkbox>
              </th>
              <td style="width:auto" mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)" color="warn">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="Description">
                <th style="width:auto" mat-header-cell *matHeaderCellDef class="font"> Description </th>
                <td style="width:auto" mat-cell *matCellDef="let element"><a (click)="showUpdateForm(element)" style="color:blue;cursor: pointer; text-decoration: underline">{{element.Description}}</a> </td>
            </ng-container>
            <ng-container matColumnDef="Section">
              <th style="width:auto" mat-header-cell *matHeaderCellDef class="font"> Section </th>
              <td style="width:auto" mat-cell *matCellDef="let element"><a (click)="showUpdateForm(element)" style="color:blue;cursor: pointer; text-decoration: underline">{{element.SectionName}}</a> </td>
          </ng-container>
          <ng-container matColumnDef="Area">
            <th style="width:auto" mat-header-cell *matHeaderCellDef class="font"> Area </th>
            <td style="width:auto" mat-cell *matCellDef="let element"><a (click)="showUpdateForm(element)" style="color:blue;cursor: pointer; text-decoration: underline">{{element.AreaName}}</a> </td>
        </ng-container>

            <ng-container matColumnDef="BreakTimeFrom">
              <th style="width:auto" mat-header-cell *matHeaderCellDef class="font"> Break Time From </th>
              <td style="width:auto" mat-cell *matCellDef="let element"> {{element.BreakTimeFrom.substr(11)}} </td>
            </ng-container>

            <ng-container matColumnDef="BreakTimeTo">
              <th style="width:auto" mat-header-cell *matHeaderCellDef class="font">Break Time To </th>
              <td style="width:auto" mat-cell *matCellDef="let element"> {{element.BreakTimeTo.substr(11)}} </td>
            </ng-container>

            <ng-container matColumnDef="Remarks">
                <th style="width:auto" mat-header-cell *matHeaderCellDef class="font"> Remarks </th>
                <td style="width:auto" mat-cell *matCellDef="let element">{{element.Remarks}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap" *ngIf="isAdd">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>
          Add Break
        </mat-card-title>
        <form #addForm="ngForm" (ngSubmit)="addBreak(addForm)">
          <div fxLayout="row wrap">
            <div fxFlex.gt-md="50" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
              <div fxLayout="row wrap">
                <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field>
                        <input matInput placeholder="Description" [(ngModel)]="break.Description" name="Description" required>
                        <mat-error>Description required</mat-error>
                      </mat-form-field>

                        <mat-form-field>
                          <mat-label>Section</mat-label>
                          <mat-select [(ngModel)]="break.SectionName" name="SectionName"  required >
                            <mat-option *ngFor="let model of SectionList" [value]="model">
                              {{model}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    
                        <mat-form-field class="p-r-10">
                          <mat-label>AreaName</mat-label>
                          <mat-select [(ngModel)]="break.AreaName" name="AreaName"  required>
                            <mat-option *ngFor="let area of areaList" [value]="area">
                              {{area}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                     

                  <mat-form-field>
                    <input matInput type="time" placeholder="BreakTimeFrom" atp-time-picker
                      [value]="break.BreakTimeFrom" [(ngModel)]="break.BreakTimeFrom"  name="BreakTimeFrom" />
                  </mat-form-field>
                  
                  <mat-form-field>
                    <input matInput type="time" placeholder="BreakTimeTo" atp-time-picker [value]="break.BreakTimeTo"
                      [(ngModel)]="break.BreakTimeTo" name="BreakTimeTo" />
                  </mat-form-field>
              
                  <mat-form-field>
                    <input matInput placeholder="Remarks" [(ngModel)]="break.Remarks" name="Remarks">
                  </mat-form-field>

                </div>

                <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                  <button mat-raised-button color="primary" type="submit" class="pull-right"
                    style="margin-left:10px" [disabled] = "!addForm.valid">Save</button>
                  <button mat-raised-button color="warn" class="pull-right"
                    (click)="isAdd = false;isTable = true ;getBreaks();addForm.resetForm();">Cancel</button>
                </div>

              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap" *ngIf="isEdit">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Edit Break</mat-card-title>
        <form  #EditForm="ngForm" (ngSubmit)="updateBreak(EditForm)">
          <div fxLayout="row wrap">
            <div fxFlex.gt-md="50" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
              <div fxLayout="row wrap">
                <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">

                    <mat-form-field>
                        <input matInput placeholder="Description" [(ngModel)]="break.Description" name="Description">
                      </mat-form-field>

                      <mat-form-field>
                        <input matInput placeholder="Description" [(ngModel)]="break.Description" name="Description" required>
                        <mat-error>Description required</mat-error>
                      </mat-form-field>

                        <mat-form-field>
                          <mat-label>Section</mat-label>
                          <mat-select [(ngModel)]="break.SectionName" name="SectionName"  required >
                            <mat-option *ngFor="let model of SectionList" [value]="model">
                              {{model}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    
                        <mat-form-field class="p-r-10">
                          <mat-label>AreaName</mat-label>
                          <mat-select [(ngModel)]="break.AreaName" name="AreaName"  required>
                            <mat-option *ngFor="let area of areaList" [value]="area">
                              {{area}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                     

                  <mat-form-field>
                    <input matInput type="time" placeholder="BreakTimeFrom" atp-time-picker
                      [value]="break.BreakTimeFrom" [(ngModel)]="break.BreakTimeFrom" name="BreakTimeFrom" />
                  </mat-form-field>
               

                  <mat-form-field>
                    <input matInput type="time" placeholder="BreakTimeTo" atp-time-picker [value]="break.BreakTimeTo" [(ngModel)]="break.BreakTimeTo" name="BreakTimeTo" />
                  </mat-form-field>
              
                  <mat-form-field>
                    <input matInput placeholder="Remarks" [(ngModel)]="break.Remarks" name="Remarks">
                  </mat-form-field>
                 
                </div>

                <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                  <button mat-raised-button color="primary" type="submit" class="pull-right"
                    style="margin-left:10px">Update</button>
                  <button mat-raised-button color="warn" class="pull-right" (click)="showTable();EditForm.resetForm();">Cancel</button>
                </div>

              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>