<div fxLayout="row wrap">
  <div fxFlex.gt-md="50" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>
          Change Password
        </mat-card-title>
        <form #addForm="ngForm" (ngSubmit)="changePassword()">
          <div fxLayout="row wrap">
            <div fxFlex.gt-md="100" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
              <div fxLayout="row wrap">

                <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-form-field>
                    <input type="password" matInput placeholder="Old Password" [(ngModel)]="passwordObj.oldPassword"
                      name="oldPassword" #oldPassword="ngModel" required>
                  </mat-form-field>
                </div>

                <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                  <mat-form-field>
                    <input type="password" matInput placeholder="New Password" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{8,20})" minlength="8" [(ngModel)]="passwordObj.newPassword"
                      name="newPassword" #newPassword="ngModel" required>
                  </mat-form-field>
                  <small *ngIf="newPassword.hasError('pattern') && newPassword.touched" class="text-danger support-text">must contains one digit from 0-9 & one lowercase & uppercase characters & one special symbols in the list "@#$%"</small>
                </div>

                <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field>
                      <input type="password" matInput placeholder="Confirm New Password"  [(ngModel)]="passwordObj.cfnewPassword"
                        name="cfnewPassword" #cfnewPassword="ngModel" required>
                    </mat-form-field>
                </div>

                <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                  <button mat-raised-button color="primary" type="submit" class="pull-right" [disabled]="!addForm.valid">Change Password</button>
                </div>

              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>